* {
  color:yellow;
  font-family: Verdana;
  font-size: 0.9em;
  line-height: 1.4em;
}
h1 {
  text-align: center;
  text-transform: capitalize;
  border: 1px  solid white ;
  border-radius: 10px;
  padding: 10px;
  width: 80px;
  word-break: break-all;
  word-wrap: break-word;
  -moz-hyphens: auto; /*no entiendo porque no funciona*/
  margin:auto;
}

p {
  text-indent: 1cm;
}

a{
      padding-left: 30px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
