*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
display: flex;
flex-direction: column;
min-height: 100vh;
}

.container{
margin:  auto;
width: 100%;
}

header{
  background-color: lightblue;
  display: table;
  width: 100%;
  position: fixed;
}


header h1 {
  display: table-cell;
  vertical-align: middle;
  font: bold 2.25em Helvetica, sans-serif;

}

header figure{
  padding: 30px;
  padding-right: 0px;
}


header figure img{
width: 80px;
height: 80px;
}


section {
 padding-top: 160px;
  margin-right: auto;
  margin-left: 50px;
  min-height: 100%;
  margin-bottom: -50px;
  flex:1;
}


article{
  background-color: linen;
  border: 1px solid;
  max-width: 72%;
 }

article p,figure{
  margin-top: 1%;
 margin-left:1%;
 margin-right: 2%;
 margin-left: 2%;
}

article h1 {
  margin-top: 2%;
  margin-left:1%;
  margin-right: 2%;
  margin-left: 2%;
}
article h2{
  margin-left:2%;
  margin-right: 1%;
  margin-bottom: 1%;
}

article time{
  margin-left:2%;
  margin-bottom: 5%;
  margin-top: 3%;
  color:grey;
}

article footer{
  padding-bottom: 1%;
}
article footer a{
  text-decoration: none;
  color:steelblue;

}

article.primerart figure img {
  width: 21%;
  height: 21%;
}

article.primerart figure figcaption{
  font-style: italic;
}

article.primerart{
  margin-bottom: 1%;
}

aside{
float: right;
background-color: lightgrey;
width: 20%;
padding: 1%;
margin-right: 5%;
}

aside ul{
  list-style: none;
  text-align: left;
}

aside ul>li{
  padding-bottom: 8%;
}
aside ul li a{
  text-decoration: none;
  color: black;
}

aside ul li ul{
  display: none;
}

aside ul li:hover ul{
  display: block;
}

article h1{
    font-weight: bold;
    font-size: 1.5em;
    font-family: Verdana;
}

article h2, nav{
    font-weight: bold;
    font-size: 0.8em;
    font-family: Verdana;
}

header nav{
display: table-cell;
vertical-align: top;
padding-top: 30px;
}

header nav ul{
text-align: right;
}

header nav ul li{
  display: inline-block;
  padding: 5px;
}

header nav ul li a{
  text-decoration: none;
  color:white;
  padding: 10px;
  background-color: steelblue;
  font-weight: bold;
}

article.primerart  footer, article.segundoart footer{
text-align: right;
margin-top: 0px;
}

article.segundoart{
  margin-bottom: 3%;
}


footer{
  text-align: center;
  margin-top: 100px;
  width: 100%;
}

footer p{
  font-weight: bold;
  padding-top: 20px;
}
