*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
display: flex;
flex-direction: column;
min-height: 100vh;
}

header{
  background-color: lightblue;
  display: table;
  width: 100%;
  position: fixed;
}


header h1 {
  display: table-cell;
  vertical-align: middle;
  font: bold 300% Helvetica, sans-serif;

}

header figure{
  padding: 30px;
  padding-right: 0px;
}


header figure img{
width: 80px;
height: 80px;
}


section {
padding-top: 180px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  flex:1;
}


article{
  background-color: linen;
  border: 1px solid;
  max-width: 700px;
 }

article h1,h2,time,p,figure{
 margin-left:10px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-right: 10px;
}

article footer{
  padding-bottom: 10px;
}
article footer a{
  text-decoration: none;

}

article.primerart figure img {
  width: 200px;
  height: 200px;
}

article.primerart{
  margin-bottom: 10px;
}

aside{
  float: right;
  background-color: lightgrey;
  padding-right: 120px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

aside ul{
  list-style: none;

}

aside ul li{
  padding-bottom: 5px;
}

aside ul li a{
  text-decoration: none;
  color: black;
}

aside ul li ul{
  display: none;
}

aside ul li:hover ul{
  display: block;
}


article h1{
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana;
}

article h2, aside{
    font-weight: bold;
    font-size: 14px;
    font-family: Verdana;
}

header nav{
display: table-cell;
vertical-align: top;
padding-top: 40px;
padding-left: 0px;
}

header nav ul{
  display: table;
  list-style: none;

}
article.primerart  footer, article.segundoart footer{
text-align: right;
}

header nav ul li{
  display: table-cell;
  margin: 20px;
  padding: 5px;
}
header nav ul li a{
  text-decoration: none;
  color:white;
  padding: 10px;
  background-color: steelblue;
  font-weight: bold;
}
body footer{
  text-align: center;
margin-top: 20px;
}

body footer p{
  padding-bottom: 20px;
}
