*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}


header{
  background-color: lightblue;
  display: table;
  width: 100%;
  position: fixed;
}


header h1 {
  display: table-cell;
  vertical-align: middle;
  font: bold 36px Helvetica, sans-serif;

}

header figure{
  padding: 30px;
  padding-right: 0px;
}


header figure img{
width: 80px;
height: 80px;
}


section {
padding-top: 180px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100%;
    margin-bottom: -50px;
}


article{
  background-color: linen;
  border: 1px solid;
  max-width: 700px;
 }

article p,figure{
  margin-top: 10px;
 margin-left:10px;
 margin-right: 20px;
 margin-left: 20px;
}

article h1 {
  margin-top: 20px;
  margin-left:10px;
  margin-right: 20px;
  margin-left: 20px;
}
article h2{
  margin-left:20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

article time{
  margin-left:20px;
  margin-bottom: 50px;
  margin-top: 30px;
  color:grey;
}

article footer{
  padding-bottom: 10px;
  margin-right: 20px;
}
article footer a{
  text-decoration: none;
  color:blue;

}

article.primerart figure img {
  width: 200px;
  height: 200px;
}

article.primerart figure figcaption{
  font-style: italic;
}

article.primerart{
  margin-bottom: 10px;
}

aside{
  float: right;
  background-color: lightgrey;
  padding-right: 120px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

aside ul{
  list-style: none;

}

aside ul li{
  padding-bottom: 5px;
}

aside ul li a{
  text-decoration: none;
  color: black;
}

aside ul li ul{
  display: none;
}

aside ul li:hover ul{
  display: block;
}


article h1{
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana;
}

article h2, nav{
    font-weight: bold;
    font-size: 14px;
    font-family: Verdana;
}

header nav{
display: table-cell;
vertical-align: top;
padding-top: 40px;
padding-left: 0px;
}

header nav ul{
  display: table;
  list-style: none;

}
article.primerart  footer, article.segundoart footer{
text-align: right;
}

article.segundoart{
  margin-bottom: 30px;
}
header nav ul li{
  display: table-cell;
  margin: 20px;
  padding: 5px;
}
header nav ul li a{
  text-decoration: none;
  color:white;
  padding: 10px;
  background-color: steelblue;
  font-weight: bold;
}

.footer{
  text-align: center;
}

.footer p{
  font-weight: bold;
  padding-bottom: 20px;
}
.footer,.CajaPie{
  height: 50px;
}
